/*
Custom Css
*/
.navbar-light .navbar-nav .nav-link {
    margin-left: 1rem;
    margin-right: 1rem;

}
.bg-light-gray{
   background-color: #f6f5fe;
}
#templatemo_nav_top *{
    font-size: 0.98em !important;
}

.contact-bg{
    width: 100%;
    height: 500px;
    background-image: url('../img/contactus.jpg');
    background-size: cover;
    background-position: center;
}

.bg-green-sudo{
    background-color: green;
    color:white;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-weight: bolder;

}

.quote-bg{
    width: 100%;
    height: 500px;
    background-image: url('../img/quote.jpg');
    background-size: cover;
    background-position: center;
}
